<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- <bean id="b" class="spring_app02.CoffeeImple"></bean> -->
	<!-- CoffeeImple ci = new CoffeeImple(); -->
	
	<bean id="b" class="spring_app02.CoffeeImple">
		<constructor-arg value="초코우유"></constructor-arg>	<!-- 생성자 아규먼트 지정 -->
	</bean>
	<!-- CoffeeImple ci = new CoffeeImple("초코우유"); -->
	
	<bean id="b2" class="spring_app02.MachineCoffee">
		<constructor-arg value="디카페인커피"></constructor-arg>
	</bean>
	
	
	
</beans>
